<div class="container">
	<ul class="nav nav-pills nav-justified">
		<li><a href ng-click="go('/sales/join')">사원등록</a></li>
		<li><a href ng-click="go('/sales/info')">사원조회</a></li>
		<li><a href ng-click="go('/sales/possible')">가망회원현황</a></li>
		<li><a href ng-click="go('/sales/sms')">SMS전송내역</a></li>
		<li><a href ng-click="go('/sales/incentive')">수당조회</a></li>
		<li><a href ng-click="go('/sales/bom')">계보도</a></li>
		<li><a href ng-click="go('/sales/approval')">가입승인처리</a></li>
		<li><a href ng-click="go('/sales/demotion')">강등승인처리</a></li>
	</ul>
	<div class="jumbotron"><h1>사원관리 페이지</h1><p>사원관리 페이지 입니다.</p></div>
</div>