<div class="container">
	<ul class="nav nav-pills nav-justified">
		<li><a href ng-click="go('/member/join')">회원등록</a></li>
		<li class="active"><a href ng-click="go('/member/info')">회원조회</a></li>
		<li><a href ng-click="go('/member/possible')">가망회원현황</a></li>
		<li><a href ng-click="go('/member/sms')">SMS전송내역</a></li>
	</ul>
	<legend><i class="glyphicon glyphicon-search"></i>회원조회</legend>
	<div class="row">
		<div class="col-sm-4 col-xs-4"><input placeholder="회원번호" type="search" ng-model="query.mno" class="form-control">
		</div>
		<div class="col-sm-4 col-xs-4"><input placeholder="회원이름" type="search" ng-model="query.name" class="form-control">
		</div>
		<div class="col-sm-4 col-xs-4"><input placeholder="회원생일" type="search" ng-model="query.bday" class="form-control">
		</div>
	</div>
	<table id="info_member" class="table table-hover">
		<thead>
			<tr>
				<th>번호</th>
				<th>이름</th>
				<th>성별</th>
				<th>생년월일</th>
				<th>전화번호</th>
				<th>피부타입</th>
				<th>추천인이름</th>
				<th><input type="checkbox" ng-model="isCheckAll" ng-change="checkAll(isCheckAll)"/></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="memberInfo in memberInfos | filter:query | startFrom:currentPage*pageSize | limitTo:pageSize">
				<td ng-click="setSelected();">{{memberInfo.mno}}</td>
				<td ng-click="setSelected();">{{memberInfo.name}}</td>
				<td ng-click="setSelected();">{{memberInfo.gender}}</td>
				<td ng-click="setSelected();">{{memberInfo.bday | date : 'yyyy-MM-dd'}}</td>
				<td ng-click="setSelected();">{{memberInfo.phoneno}}</td>
				<td ng-click="setSelected();">{{memberInfo.skintype}}</td>
				<td ng-click="setSelected();">{{memberInfo.recommender_name}}</td>
				<td><input checklist-model="phonenoList" checklist-value="memberInfo.phoneno" type="checkbox" /></td>
			</tr>
		</tbody>
	</table>
	<div id="nextbtn" class="center">
		<button class="btn btn-default" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
	        Previous
	    </button>
	    <button class="btn btn-default" ng-disabled="currentPage >= memberInfos.length/pageSize - 1" ng-click="currentPage=currentPage+1">
	        Next
	    </button>
		<div id="sendSMS">
			<button class="btn btn-default" data-toggle="modal" data-target="#myModal">
		        SMS 보내기
		    </button>
		</div>
	</div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header center">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">SMS보내기</h4>
      </div>
      <div class="modal-body">
      	<div class="row">
      		<div class="col-xs-6">
				<textarea class="form-control" ng-model="message" cols="30" rows="10"></textarea>
      		</div>
      		<div class="col-xs-6">
      			<ul>
      				<li ng-repeat="phoneno in phonenoList">{{phoneno}}</li>
      			</ul>
      		</div>
      	</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
        <button type="button" ng-click="sendMessage()" class="btn btn-primary">보내기</button>
      </div>
    </div>
  </div>
</div>