<div class="container">
  <form class="form-login" role="form" ng-submit="submit()">
    <h2>APHROZONE</h2>
    <input type="id" ng-model="id" class="form-control" placeholder="ID" required="" autofocus="">
    <input type="password" ng-model="pw" class="form-control" placeholder="Password" required="">
    <label class="checkbox">
      <input type="checkbox" value="remember-me"> Remember me
    </label>
    <div class="alert alert-danger" style="display: none">Login Fail!</div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
  </form>
</div>