<div class="container">
	<div class="jumbotron"><h1>APHROZONE</h1><p>By 우지니어스</p></div>
	<div class="list-group">
		<a href ng-click="go('/main')" class="list-group-item">
			<div class="glyphicon glyphicon-bullhorn"></div>
			<div class="glyphicon-class">공지사항</div>
		</a>
		<a href ng-click="go('/member/join')" class="list-group-item">
			<div class="glyphicon glyphicon-user"></div>
			<div class="glyphicon-class">회원등록</div>
		</a>
		<a href ng-click="go('/member/buy')" class="list-group-item">
			<div class="glyphicon glyphicon-list"></div>
			<div class="glyphicon-class">구매내역</div>
		</a>
		<a href ng-click="go('/member/info')" class="list-group-item">
			<div class="glyphicon glyphicon-search"></div>
			<div class="glyphicon-class">회원정보</div>
		</a>
		<a href ng-click="go('product/list')" class="list-group-item">
			<div class="glyphicon glyphicon-th-large"></div>
			<div class="glyphicon-class">제품목록</div>
		</a>
		<a href ng-click="go('product/sell')" class="list-group-item">
			<div class="glyphicon glyphicon-credit-card"></div>
			<div class="glyphicon-class">제품판매</div>
		</a>
		<a href ng-click="go('/stats/location')" class="list-group-item">
			<div class="glyphicon glyphicon-stats"></div>
			<div class="glyphicon-class">매출통계</div>
		</a>
		<a href ng-click="go('/main')" class="list-group-item">
			<div class="glyphicon glyphicon-usd"></div>
			<div class="glyphicon-class">수당조회</div>
		</a>
		<a href ng-click="go('/logout')" class="list-group-item">
			<div class="glyphicon glyphicon-log-out"></div>
			<div class="glyphicon-class">로그아웃</div>
		</a>
	</ul>
	<p id="copyright">CopyRight(c) All Rights Reserved by 우지니어스</p>

</div>