body {
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
	color: #00B7FF;
}

ul.nav-pills {
	margin-bottom: 20px;
}

i {
	margin-right: 10px;
}

div.row>div.joinTitle {
	text-align: right;
}

div.row {
	margin-bottom: 10px;
}

@media all and (max-width:767px) {
	div.row>div.joinTitle {
	text-align: left;
	}
}

div.center {
	text-align: center;
	margin-bottom: 20px;
}

th {
	text-align: center !important;
}

td {
	text-align: center !important;	
}

#logo {
	margin-top: -7px;
}

.navbar-custom {
    background-color:#979797;
    color:#ffffff;
    border-radius:0;
}

.navbar-custom .navbar-nav > li > a {
    color:#fff;
}

.navbar-custom .navbar-nav > li > a:hover{
    color:#000;
}

.navbar-nav > .active {
	background-color: #eee;
}

.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    color: #000;
    background-color:transparent;
}

.navbar-custom .navbar-brand {
    color:#eeeeee;
}

span.icon-bar {
	background-color: white !important;
}

form.form-login {
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
}

.glyphicon {
	margin-top: 5px;
	margin-bottom: 10px;
	font-size: 36px;
}

.glyphicon-class {
	font-size: 15px;
}

a.list-group-item {
	text-align: center;
	display: inline-block;
}

div.list-group {
	margin-right: auto;
	margin-left: auto;
	padding-right: 0px;
	text-align: center;
}

p#copyright {
	margin-top: 30px;
}

div#nextbtn {
	text-align: center;
	margin-bottom: 50px;
}

div#sendSMS {
	float: right;
}

legend.smalltext {
	font-size: 18px;
}

.right {
	text-align: right;
}
